@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Changa+One:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Patrick+Hand+SC&family=Sekuya&family=Shrikhand&display=swap');
   :root {

    --radius: 14px;
    --shadow-chunky: 6px 6px 0px rgba(0,0,0,0.25);
}
.logo{
    font-size: 2rem;
    font-family: Shrikhand;
    /* original theme */
    
    /* color: black; */

    /* new theme */
    color: #2e211c;


    /* original theme */
    /* -webkit-text-stroke: 0.5px #E5989B; */
    /* new theme */
    -webkit-text-stroke: 0.5px #9cbbb7;
}
body{
    background-size: 40px 40px;
    background-color: #FFFFFF;
}
.nav ul{
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
    justify-content: center;
}
.nav li a {
    display: block;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 3px solid black;
    width: 200px;
    height: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: transform 0.25s ease, box-shadow 0.25s;
    /* position: relative */
    /* overflow: visible; */
}

.hero-content{
    justify-content: center;
    text-align: center;
}

.nav li a:hover::before,
.nav li a:hover::after {
    content: "✦";
    position: absolute;
    color: #F7B538;
    font-size: 14px;
    animation: sparkle 0.8s ease-out forwards;
}
.nav li a:hover::before {
    top: -10px;
    left: -10px;
}

.nav li a:hover::after {
    bottom: -10px;
    right: -10px;
}

@keyframes sparkle {
    0% { transform: scale(0) rotate(0deg); opacity: 0; }
    50% { transform: scale(1.4) rotate(20deg); opacity: 1; }
    100% { transform: scale(0) rotate(40deg); opacity: 0; }
}

.nav li a:hover{
    transform: translate(-4px)scale(1.05);
    box-shadow: 0 8px 20px #9cbbb7;
}

/* original light pink theme */

/* .nav li:nth-child(1) a { background: #E5989B; }
.nav li:nth-child(2) a { background: #6D6875; }
.nav li:nth-child(3) a { background: #B5838D; } 
.nav li:nth-child(4) a { background: #FFCDB2; }  */


/* new theme */
.nav li:nth-child(1) a { background: #2e211c; } 
.nav li:nth-child(2) a { background: #c06226; }
.nav li:nth-child(3) a { background: #9cbbb7; }
.nav li:nth-child(4) a { background: #984619; }

.about-section{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:48px;

    max-width:1200px;
    margin:auto;
    padding:80px 20px;

    flex-wrap:wrap;
}

.about-image{
    background:whitesmoke;
    border:3px solid black;
    border-radius:var(--radius);
    box-shadow:6px 6px 0px black;

    padding:14px;

    transition:transform .25s ease,
               box-shadow .25s ease;
}

.about-image img{
    display:block;

    width:340px;
    height:420px;

    object-fit:cover;

    border-radius:10px;
    border:3px solid black;
}

.about-card{
    flex:1;
    min-width:350px;

    background:whitesmoke;
    border:3px solid black;
    border-radius:var(--radius);

    box-shadow:6px 6px 0px black;

    padding:36px;

    transition:transform .25s ease,
               box-shadow .25s ease;
}

.about-content{

    flex:1;
    min-width:350px;

    background:whitesmoke;

    border:3px solid black;
    border-radius:var(--radius);

    box-shadow:6px 6px 0px black;

    padding:35px;

    transition:.25s ease;
}

.about-section{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:50px;

    max-width:1200px;
    margin:80px auto;
    padding:0 20px;

    flex-wrap:wrap;
}

.about-buttons{
    display:flex;
    gap:18px;
    margin-top:32px;
    justify-content: center;
}

.about-buttons a{

    background:#c06226;
    color:black;

    text-decoration:none;
    font-weight:bold;

    padding:10px 20px;

    border:3px solid black;
    border-radius:10px;

    box-shadow:4px 4px 0px black;

    transition:transform .25s ease,
               box-shadow .25s ease;
}

.about-buttons a:hover{
    transform:translate(-4px);
    box-shadow:6px 6px 0px #9cbbb7;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}

footer{
    padding-top: 1.5in;
    padding-bottom: 30px;
    justify-content: center;
    text-align: center;

}

/* footer icons */

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
}

.footer-icon {
    width: 50px; 
    height: 50px;
    object-fit: contain;
    transform: scale(1.15);

    border: 3px solid black;
    border-radius: var(--radius);
    box-shadow: 4px 4px 0px #2e211c;

    transition: transform .25s ease, box-shadow .25s ease;
    cursor: pointer;

}


.footer-icon.glow {
    animation: glowPulse 1s ease-out;
}

@keyframes glowPulse {
    0% { box-shadow: 0 0 0px #c06226; }
    50% { box-shadow: 0 0 20px #c06226; }
    100% { box-shadow: 0 0 0px #c06226; }
}



.footer-icon:hover {
    transform: translate(-4px) scale(1.05);
    box-shadow: 6px 6px 0px #9cbbb7;
}



  
/* scrollbar */

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: var(--radius);
}

::-webkit-scrollbar-thumb {
    background: #9cbbb7;
    border: 3px solid black;
    border-radius: var(--radius);
    box-shadow: 4px 4px 0px #2e211c;
}

::-webkit-scrollbar-thumb:hover {
    background: #c06226;
    box-shadow: 6px 6px 0px #984619;
}






